.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/barista/log/*
/barista/tmp/*
/barista/db/*.sqlite3
/barista/public/system/*
/barista/coverage/
/barista/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
