<!DOCTYPE html>
<html>
<head>
  <title>Barista</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navigation">
  <ul>
    <li><a href="/orders"> Orders</a></li>
    <li><a href="/store_configs">Store Configs</a></li>
    <li><a href="/menu_items">Menu Items</a></li>
    <li><a href="/queue">The Queue</a></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
