<h1>Edit store_config</h1>

<form id="edit-store_config" name="store_config">
  <div class="actions">
    <input type="submit" value="Update Store config" />
  </div>

</form>

<a href="#/index">Back</a>
